---
import Layout from "../layouts/Layout.astro";
import type { InferGetStaticParamsType, GetStaticPaths } from "astro";

// runs during compilation only
export const getStaticPaths = (async () => {
  const response = await fetch("https://swapi.dev/api/");
  const data = (await response.json()) as Record<string, string>;

  const navCategories = Object.keys(data).map((category) => ({
    params: { category },
  }));

  return navCategories;
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { category } = Astro.params as Params;
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Category: {category}</h1>
  </main>
</Layout>

<style>
  main {}
</style>
