---
import type { InferGetStaticParamsType, GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import Layout from "../../../layouts/Layout.astro";

// runs during compilation only
export const getStaticPaths = async () => {
  const navCategoriesCollection = await getCollection("navCategories");

  const navCategories = navCategoriesCollection.flatMap((category) => [
    {
      params: {
        category: category.id,
        path: "0", // temp
      },
    },
    {
      params: {
        category: category.id,
        path: "1", // temp
      },
    },
    {
      params: {
        category: category.id,
        path: "2", // temp
      },
    },
    {
      params: {
        category: category.id,
        path: undefined, // category without page number
      },
    },
  ]);

  return navCategories;
};

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { category, path } = Astro.params as Params;
const peopleCategoryCollection = await getCollection("peopleCategory");

// doesn't work
// if (path === '0') {
//   return Astro.rewrite(`/${category}/`)
// }
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Category: {category}</h1>
    <h2>Page: {path ?? 0}</h2>

    {
      category === "people" ? (
        <pre>{JSON.stringify(peopleCategoryCollection, null, 4)}</pre>
      ) : null
    }
  </main>
</Layout>

<style>
  main {}
</style>
